[submodule "AnalyticsBackend"]
	path = AnalyticsBackend
	url = https://github.com/WOT-STAT/AnalyticsBackend.git
[submodule "EventSaver"]
	path = EventSaver
	url = https://github.com/WOT-STAT/EventSaver.git
[submodule "AnalyticsFrontend"]
	path = AnalyticsFrontend
	url = https://github.com/WOT-STAT/AnalyticsFrontend.git
